*, html, body {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	background: #efefef;
	clear: left;
	padding: 10px;
}

.header ul li#logo {
	display: block;
	float: left;
	background: none;
	margin-left: 5%;
	margin-top: 10px;
}

.header ul li#create {
	display: block;
	float: left;
	background: none;
	margin-left: 5%;
	margin-top: 0px;
}

.header ul li {
	display: block;
	float: left;
	background: #ddd;
	margin-left: 1%;
	margin-top: 50px;
}

