<h1>Events</h1>

<% @events.each do |event| %> 
<div class="col-lg-6">
 <a href="#linktoevent"><h2><%= event.title %></h2></a>
   <span class="event_date"><%= event.date %> @ <%= event.location_id %></span>
   <p>
   <%= event.text %>
   </p>
    <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
<% end %>