<div style="max-width: 500px; margin: 0 auto;">
Tweeporter is a service which easily lets you report ongoing or recent events from a location based on <a href="http://twitter.com">Twitter</a> activity. We turn you into a real-time reporter by allowing you to link tweets and <a href="http://instagram.com/">instagram</a> photos in order to create events. As an active reporter, you will earn badges representing the value of your contribution to creating and maintaining this event reporting platform.<br />
Go on, get started!
</div>
<%= render 'evlist' %>