<h1>New event here</h1>
Template stuff here; a form for putting a location.

<%= form_for :event, url: events_add_path do |f| %>
  <p>
    <!--%= f.label :longitude %--><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <!--%= f.label :latitude %--><br>
    <%= f.text_field :text %>
  </p>
 
  <p>
    <%= f.submit "Search nearby"%>
  </p>
<% end %>