<h1>New event here</h1>
Template stuff here; a form for putting a location.

<%= form_tag events_add_path, :method => :get  do%>
  <p>
    <!--%= f.label :longitude %--><br>
    <%= text_field_tag :address, params[:address] %>

  </p>
  <p>
   <%= submit_tag "Search near this location", :name => nil %>
  </p>
<% end %>